#main-header{
    background-color: $base-color;
    height: 80px;
}
.mh--nav-bar{
    margin: 0 auto;
    max-width: 80%;
}
.nb--left{
    float: left;
    display: inline-flex;
    align-items: flex-start;
}
.nb--right{
    float: right;
    display: inline-flex;
    align-items: center;
    height: 80px;
}
#logo{
    margin-top: 23px;
    height: 50%;
}
.nb-r--menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    vertical-align: middle;
    margin-top: 10px;
}
.nb-r-m--links{
    float: left;
    color: #FFF;
    text-align: center;
    font-size: $font-medium;
    padding: 0 13px;
}
.nb-r-m--links::after{
    content: "|";
    font-size: 12px;
    color: rgba(255,255,255,.5);
    margin: 0 0 0 10px;
}
.top-button a{
    background-color: #000; 
    padding: 20px;
}
.top-button::after{
    content: ""!important;
}