.btj--content{
    margin: auto;
    max-width: 70%;
}
.btj-c--header{
    text-align: center;
    padding: 47px 0 27px 0;
    & p {
        font-size: 2.5em;
    }
}
.btj-c--img-grid{
    display: flex;
    justify-content: center;
    padding: 27px 0;
}
.btj-c-ig--box{
    width: 100%;
    margin: 0 2%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.box-img{
    margin: 0 auto;
    align-items: center;
    width: 90%;
}
.box-img img{
    width: 100%;
    height: auto;
    align-self: center;
}
.box-btn{
    text-align: center;
    width: 100%;
    position: absolute;
    display: flex;
    margin: -45px auto 30px!important;
    & a{
        background-color: $buttons-color;
        text-align: center;
        padding: 10px;  
        width: 100%;
        color: #fff;
        font-size: 19px;
    }
}
.box-btn--text{
    margin-top: 35px;
    text-align: center;
    & .b-b-t--inner p{
        color: $buttons-color;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}

